/*  your css code here. If applicable */
body {
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.left {
    width: 450px;
    margin-top: 70px;
    display: inline-block;
}

.subtitle {
    font-weight: normal;
    margin-top: -10px;
}

.right {
    display: inline-block;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    gap: 10px;
}

input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

button {
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}

.login-btn {
    background-color: #1877f2;
}

.signup {
    background-color: #42b72a;
    margin-top: 15px;
}

a {
    text-decoration: none;
    color: #1877f2;
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
}
